# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [4]:
new_series = pd.Series(lst)
print(new_series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [5]:
new_series[2]

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [10]:
df = pd.DataFrame(b)
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [15]:
names = ['Score 1','Score 2','Score 3','Score 4','Score 5'];
df = pd.DataFrame(b,columns=names)
display(df)

   Score 1  Score 2  Score 3  Score 4  Score 5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

In [8]:
# your code here

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [16]:
sub_df = df[['Score 1','Score 2','Score 5']]
print(sub_df)

   Score 1  Score 2  Score 5
0     53.1     95.0     78.4
1     61.3     40.8     87.6
2     20.6     73.2     91.8
3     57.4      0.1     69.5
4     83.6     20.5     35.9
5     49.0     69.0     89.1
6     23.3     40.7     26.9
7     27.6     26.4     68.5
8     96.6     96.4     50.1
9     73.7     39.0     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [18]:
s3_mean = df['Score 3'].mean()
print(s3_mean)

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [19]:
print(df['Score 4'].max())

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [20]:
print(df['Score 2'].median())

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [22]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [23]:
df = pd.DataFrame(orders)
display(df)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [26]:
total_ord = df['Quantity'].sum()
total_rev = df['Revenue'].sum()
print(f"Total ordered is: {total_ord} and revenue was {total_rev}")

Total ordered is: 2978 and revenue was 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [29]:
max_price=df['UnitPrice'].max()
min_price=df['UnitPrice'].min()
#print(f"Most expensive item is{}, the least expensive item is{}")

# Get the names of the most and least expensive items
most_expensive_item = df.loc[df['UnitPrice'] == max_price, 'Description'].values[0]
least_expensive_item = df.loc[df['UnitPrice'] == min_price, 'Description'].values[0]

# Calculate the difference
price_difference = max_price - min_price

# Print the results
print(f"The most expensive item is: '{most_expensive_item}' which costs: {max_price}")
print(f"The least expensive item is: '{least_expensive_item}' which costs: {min_price}")
print(f"The difference between the most and least expensive items is: {price_difference}")

The most expensive item is: 'BOX OF VINTAGE ALPHABET BLOCKS' which costs: 11.95
The least expensive item is: 'WORLD WAR 2 GLIDERS ASSTD DESIGNS' which costs: 0.18
The difference between the most and least expensive items is: 11.77

## Let's load another dataset for more exercisesº

In [50]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [51]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [82]:
missing= pd.isnull(admissions);
print(admissions.info());
print('Range index is 385, non null count is 385 in all columns so there are no missing values');

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         385 non-null    int64
 1   GRE Score          385 non-null    int64
 2   TOEFL Score        385 non-null    int64
 3   University Rating  385 non-null    int64
 4   SOP                385 non-null    float64
 5   LOR                385 non-null    float64
 6   CGPA               385 non-null    float64
 7   Research           385 non-null    int64
 8   Chance of Admit    385 non-null    float64
dtypes: float64(4), int64(5)
memory usage: 27.2 KB
None
Range index is 385, non null count is 385 in all columns so there are no missing values

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [55]:
serial=admissions['Serial No.']
admissions.set_index(serial)

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90
...,...,...,...,...,...,...,...,...,...
381,381,324,110,3,3.5,3.5,9.04,1,0.82
382,382,325,107,3,3.0,3.5,9.11,1,0.84
383,383,330,116,4,5.0,4.5,9.45,1,0.91
384,384,312,103,3,3.5,4.0,8.78,0,0.67
385,385,333,117,4,5.0,4.0,9.66,1,0.95

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [77]:
new_select = admissions[(admissions['CGPA']>9) & (admissions['Research']==1)]
print(new_select)
print(new_select.count())

     Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0             1        337          118                  4  4.5   4.5  9.65
4             5        330          115                  5  4.5   3.0  9.34
10           11        328          112                  4  4.0   4.5  9.10
19           20        328          116                  5  5.0   5.0  9.50
20           21        334          119                  5  5.0   4.5  9.70
..          ...        ...          ...                ...  ...   ...   ...
379         380        329          111                  4  4.5   4.0  9.23
380         381        324          110                  3  3.5   3.5  9.04
381         382        325          107                  3  3.0   3.5  9.11
382         383        330          116                  4  5.0   4.5  9.45
384         385        333          117                  4  5.0   4.0  9.66

     Research  Chance of Admit
0           1              0.92
4           1              0.90
10          1              0.78
19          1              0.94
20          1              0.95
..        ...               ...
379         1              0.89
380         1              0.82
381         1              0.84
382         1              0.91
384         1              0.95

[101 rows x 9 columns]
Serial No.           101
GRE Score            101
TOEFL Score          101
University Rating    101
SOP                  101
LOR                  101
CGPA                 101
Research             101
Chance of Admit      101
dtype: int64

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [84]:
new_select = admissions[(admissions['CGPA']>9) & (admissions['SOP']<3.5)]
mean_of_students=new_select["Chance of Admit"].mean
print(f"Mean chance of admit is {mean_of_students}")

KeyError: 'Chance of Admit'